<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Chat</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/social-buttons-3.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/font-awesome.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap-theme.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}"/>
</head>
<body>

<div class="panel panel-default">
    <div class="panel-body">
        <div th:substituteby="index::logout"></div>
    </div>
</div>

<h1>Chat</h1>

<form id="joinChatForm" th:action="@{/mvc/chat}" data-bind="visible: activePollingXhr() == null">
    <p>
        <input name="messageIndex" type="hidden" data-bind="value: messageIndex"/>
        <button id="start" type="submit" data-bind="click: joinChat">Join Chat</button>
    </p>
</form>

<form id="leaveChatForm" th:action="@{/mvc/chat}" data-bind="visible: activePollingXhr() != null">
    <p>
        <button id="leave" type="submit" data-bind="click: leaveChat">Leave Chat</button>
    </p>
</form>

<div data-bind="visible: activePollingXhr() != null">
    <textarea rows="15" cols="60" readonly="readonly" data-bind="text: chatContent"></textarea>
</div>

<form id="postMessageForm" th:action="@{/mvc/chat}" data-bind="visible: activePollingXhr() != null">
    <p>
        <input id="message" name="message" type="text" data-bind="value: message"/>
        <button id="post" type="submit" data-bind="click: postMessage">Post</button>
    </p>
</form>
</body>
<script type="text/javascript" src="../../../resources/js/vendor/jquery-1.7.2.min.js"
        th:src="@{/resources/js/vendor/jquery-1.7.2.min.js}"></script>
<script type="text/javascript" src="../../../resources/js/vendor/knockout-2.0.0.js"
        th:src="@{/resources/js/vendor/knockout-2.0.0.js}"></script>
<script type="text/javascript" src="../../../resources/js/app/chat.js" th:src="@{/resources/js/app/chat.js}"></script>

</html>
