<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Chat</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <div th:fragment="logout" class="logout"
             sec:authorize="isAuthenticated()">
            Logged user: <span sec:authentication="name">Bob</span> |
            Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span> |
            <a href="index.html" th:href="@{/j_spring_security_logout}">Logout</a>
        </div>
    </body>
</html>
